<!DOCTYPE html>
<html>
  <head>
    <title>BSU Web App</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
  
  </head>


  <body>

    <h1>Marisa Ruffin, Phillip Nguyen</h1>
    <!-- <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav> -->
<div class="container">

</div>
  
  <footer>
   <ul>
   <li><a href="https://nodejs-cleardb-heroku.herokuapp.com/signin">BSU Bank App</a></li>
   <br/>
   <li><a href="/images/Bank_Report.pdf">Bank Report</a></li>
   </ul>
  </footer>
  </body>

</html>
