<!DOCTYPE html>
<html>
  <head>
    <title>BSU Web App</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
  
  </head>


  <body>

    <h1>Phillip Nguyen, Partner in Project is Marisa Ruffin</h1>

<div class="container">

</div>
  
  <footer>
   <ul>
   <li><a href="https://nodejs-cleardb-heroku.herokuapp.com/signup">BSU Bank App</a></li>
   <br/>
   <li><a href="/images/Bank_Report.pdf">Bank Report</a></li>
   <br/>
   <li><a href="https://github.com/00Phillipn/BSUbankApp">GitHub Repository for Bank App</a></li>
   <br/>
   <li><a href="/images/Resume_Phillip.pdf">Phillip Nguyen Resume</a></li>
   <br/>
   <li><a href="/images/cloneDirections.pdf">How to Clone Repository and Run Bank App</a></li>
   <br/>
   <li><a href="https://nodejs-cleardb-heroku.herokuapp.com/MarisaHomepage">Link to Marisa's Homepage</a></li>
   </ul>
  </footer>
  </body>

</html>
