<!DOCTYPE html>
<html>
  <head>
    <title>BSU Web App</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
  
  </head>


  <body>

    <h1>Marisa Ruffin</h1>

<div class="container">

</div>
  
  <footer>
   <ul>
   <li><a href="https://nodejs-cleardb-heroku.herokuapp.com/signup">BSU Bank App</a></li>
   <br/>
   <li><a href="/images/Bank_Report.pdf">Bank Report</a></li>
   <br/>
   <li><a href="https://github.com/ruffin479/BSUbankApp">GitHub Repository for Bank App</a></li>
   <br/>
   <li><a href="/images/Resume_Marisa.pdf">Marisa Ruffin Resume</a></li>
   <br/>
      <li><a href="https://www.linkedin.com/in/marisa-ruffin-2aa15bb5/">Marisa Ruffin LinkedIn</a></li>
   <br/>
   <li><a href="/images/cloneDirections.pdf">How to Clone Repository and Run Bank App</a></li>
   <br/>
   <li><a href="https://nodejs-cleardb-heroku.herokuapp.com">Link to Phillip's Homepage</a></li>
   </ul>

  </footer>
  </body>

</html>